In [1]:
import pandas as pd
import numpy as np
import os
import cv2
import requests

In [2]:
df = pd.read_json("Indian_Number_plates.json", lines=True)

In [3]:
df.head()

,content,annotation,extras
0,http://com.dataturks.a96-i23.open.s3.amazonaws...,"[{'label': ['number_plate'], 'notes': '', 'poi...",NaN
1,http://com.dataturks.a96-i23.open.s3.amazonaws...,"[{'label': ['number_plate'], 'notes': '', 'poi...",NaN
2,http://com.dataturks.a96-i23.open.s3.amazonaws...,"[{'label': ['number_plate'], 'notes': '', 'poi...",NaN
3,http://com.dataturks.a96-i23.open.s3.amazonaws...,"[{'label': ['number_plate'], 'notes': '', 'poi...",NaN
4,http://com.dataturks.a96-i23.open.s3.amazonaws...,"[{'label': ['number_plate'], 'notes': '', 'poi...",NaN

In [4]:
df['annotation'][0][0]['imageWidth']

806

In [5]:
df['extras'].unique()

array([nan])

In [6]:
path = '/home/nabanita/anaconda3/envs/my_env_py3.7.4/submission_project/number_plate_detection_project'
os.mkdir(path+'/image')

In [7]:
top_x, top_y, bottom_x, bottom_y = [],[],[],[]
source_img, img_width, img_height = [],[],[]

for i, row in df.iterrows():
    
    img = requests.get(df['content'][i])
    with open("image/car_image_{}".format(i), 'wb') as img_file:
        img_file.write(img.content)
    
    source_img.append("car_image_{}".format(i))
    top_x.append(row['annotation'][0]['points'][0]['x'])
    top_y.append(row['annotation'][0]['points'][0]['y'])
    bottom_x.append(row['annotation'][0]['points'][1]['x'])
    bottom_y.append(row['annotation'][0]['points'][1]['y'])
    img_width.append(row['annotation'][0]['imageWidth'])
    img_height.append(row['annotation'][0]['imageHeight'])

In [9]:
#source_img

In [10]:
cols_list = [source_img, top_x, top_y, bottom_x, bottom_y, img_width, img_height]

In [14]:
final_df = pd.DataFrame(cols_list).transpose()
final_df.head()

             0         1         2         3         4     5    6
0  car_image_0  0.722084  0.587983  0.868486  0.688841   806  466
1  car_image_1  0.161943   0.85078  0.582996         1   494  449
2  car_image_2     0.082  0.697452      0.23  0.828025   500  314
3  car_image_3     0.434  0.667377     0.718  0.765458   500  469
4  car_image_4  0.208791  0.390764  0.865135  0.984014  1001  563

In [16]:
final_df.columns = ['source_img', 'top_x', 'top_y', 'bottom_x', 'bottom_y', 'img_width', 'img_height']
final_df.head()

    source_img     top_x     top_y  bottom_x  bottom_y img_width img_height
0  car_image_0  0.722084  0.587983  0.868486  0.688841       806        466
1  car_image_1  0.161943   0.85078  0.582996         1       494        449
2  car_image_2     0.082  0.697452      0.23  0.828025       500        314
3  car_image_3     0.434  0.667377     0.718  0.765458       500        469
4  car_image_4  0.208791  0.390764  0.865135  0.984014      1001        563

In [17]:
final_df.dtypes

source_img    object
top_x         object
top_y         object
bottom_x      object
bottom_y      object
img_width     object
img_height    object
dtype: object

In [19]:
final_df.to_csv('final_df.csv', index=False)

In [20]:
final_df = pd.read_csv('final_df.csv')

In [21]:
final_df.head()

    source_img     top_x     top_y  bottom_x  bottom_y  img_width  img_height
0  car_image_0  0.722084  0.587983  0.868486  0.688841        806         466
1  car_image_1  0.161943  0.850780  0.582996  1.000000        494         449
2  car_image_2  0.082000  0.697452  0.230000  0.828025        500         314
3  car_image_3  0.434000  0.667377  0.718000  0.765458        500         469
4  car_image_4  0.208791  0.390764  0.865135  0.984014       1001         563

In [22]:
final_df.shape

(237, 7)